{% extends 'base/backoffice/base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'backoffice/extensions/filepond/filepond.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/extensions/toastify-js/src/toastify.css' %}">
<link rel="stylesheet" href="{% static 'backoffice/extensions/flatpickr/flatpickr.min.css' %}">
<style>
    .filepond--root {
        margin-bottom: 0;
    }
    .filepond--credits {
        display: none;
    }
</style>
{% endblock %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                <h3>{{ page_title }}</h3>
                <p class="text-subtitle text-muted">Complete el formulario para guardar el perfil del barbero.</p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:dashboard' %}">Dashboard</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'backoffice:barber_list' %}">Barberos</a></li>
                        <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>

    <section id="basic-vertical-layouts">
        <div class="row match-height">
            <div class="col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <form class="form form-vertical" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <div class="form-body">
                                    <div class="row">
                                        {% if form.non_field_errors %}
                                        <div class="col-12">
                                            <div class="alert alert-danger">
                                                {{ form.non_field_errors }}
                                            </div>
                                        </div>
                                        {% endif %}

                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="{{ form.user.id_for_label }}">{{ form.user.label }}</label>
                                                <div class="position-relative">
                                                    {{ form.user }}
                                                </div>
                                                {% if form.user.errors %}
                                                <div class="invalid-feedback d-block">{{ form.user.errors.as_text }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-group has-icon-left">
                                                <label for="{{ form.nickname.id_for_label }}">{{ form.nickname.label }}</label>
                                                <div class="position-relative">
                                                    {{ form.nickname }}
                                                    <div class="form-control-icon">
                                                        <i class="bi bi-type"></i>
                                                    </div>
                                                </div>
                                                {% if form.nickname.errors %}
                                                <div class="invalid-feedback d-block">{{ form.nickname.errors.as_text }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-12">
                                           <div class="form-group">
                                                <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
                                                <input type="file" name="photo" class="image-preview-filepond" 
                                                    {% if form.instance.photo %}data-default-file="{{ form.instance.photo.url }}"{% endif %}
                                                    accept="image/png, image/jpeg, image/gif">
                                                {% if form.photo.errors %}
                                                <div class="invalid-feedback d-block">{{ form.photo.errors.as_text }}</div>
                                                {% endif %}
                                           </div>
                                        </div>

                                        <div class="col-12">
                                            <div class="form-check form-switch mb-3">
                                                {{ form.is_active }}
                                                <label class="form-check-label" for="{{ form.is_active.id_for_label }}">{{ form.is_active.label }}</label>
                                                {% if form.is_active.errors %}
                                                <div class="invalid-feedback d-block">{{ form.is_active.errors.as_text }}</div>
                                                {% endif %}
                                            </div>
                                        </div>

                                        <div class="col-12 mt-4">
                                            <h4 class="mb-3">Horarios de Trabajo</h4>
                                            {% if schedules.non_form_errors %}
                                            <div class="alert alert-danger">
                                                {{ schedules.non_form_errors }}
                                            </div>
                                            {% endif %}
                                            {{ schedules.management_form }}
                                            <div class="table-responsive">
                                                <table class="table table-bordered">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th style="width: 15%;">Día</th>
                                                            <th style="width: 18%;">Hora Entrada</th>
                                                            <th style="width: 18%;">Hora Salida</th>
                                                            <th style="width: 18%;">Inicio Refrigerio</th>
                                                            <th style="width: 18%;">Fin Refrigerio</th>
                                                            <th style="width: 13%;">Eliminar</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        {% for form in schedules %}
                                                        {{ form.id }}
                                                        <tr>
                                                            <td class="align-middle">
                                                                {{ form.day_of_week }}
                                                                {% if form.day_of_week.errors %}
                                                                <div class="invalid-feedback d-block">{{ form.day_of_week.errors.0 }}</div>
                                                                {% endif %}
                                                            </td>
                                                            <td class="align-middle">
                                                                {{ form.start_hour }}
                                                                {% if form.start_hour.errors %}
                                                                <div class="invalid-feedback d-block">{{ form.start_hour.errors.0 }}</div>
                                                                {% endif %}
                                                            </td>
                                                            <td class="align-middle">
                                                                {{ form.end_hour }}
                                                                {% if form.end_hour.errors %}
                                                                <div class="invalid-feedback d-block">{{ form.end_hour.errors.0 }}</div>
                                                                {% endif %}
                                                            </td>
                                                            <td class="align-middle">
                                                                {{ form.lunch_start }}
                                                                {% if form.lunch_start.errors %}
                                                                <div class="invalid-feedback d-block">{{ form.lunch_start.errors.0 }}</div>
                                                                {% endif %}
                                                            </td>
                                                            <td class="align-middle">
                                                                {{ form.lunch_end }}
                                                                {% if form.lunch_end.errors %}
                                                                <div class="invalid-feedback d-block">{{ form.lunch_end.errors.0 }}</div>
                                                                {% endif %}
                                                            </td>
                                                            <td class="text-center align-middle">
                                                                {% if schedules.can_delete %}
                                                                    {{ form.DELETE }}
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                        {% if form.non_field_errors %}
                                                        <tr>
                                                            <td colspan="6" class="text-danger">
                                                                {{ form.non_field_errors }}
                                                            </td>
                                                        </tr>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        <div class="col-12 d-flex justify-content-end">
                                            <a href="{% url 'backoffice:barber_list' %}"
                                                class="btn btn-light-secondary me-1 mb-1">
                                                <i class="bi bi-x-circle me-2"></i>
                                                Cancelar
                                            </a>
                                            <button type="submit" class="btn btn-primary me-1 mb-1">
                                                <i class="bi bi-check-circle me-2"></i>
                                                Guardar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'backoffice/extensions/filepond-plugin-image-preview/filepond-plugin-image-preview.min.js' %}"></script>
<script src="{% static 'backoffice/extensions/filepond/filepond.js' %}"></script>
<script src="{% static 'backoffice/extensions/toastify-js/src/toastify.js' %}"></script>
<script src="{% static 'backoffice/extensions/flatpickr/flatpickr.min.js' %}"></script>
<script src="{% static 'backoffice/extensions/flatpickr/l10n/es.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        FilePond.registerPlugin(FilePondPluginImagePreview);

        const input_element = document.querySelector('.image-preview-filepond');

        const pond = FilePond.create(input_element, {
            credits: false,
            storeAsFile: true,
            allowImagePreview: true,
            imagePreviewHeight: 170,
            imagePreviewCrop: true,
            acceptedFileTypes: ['image/png', 'image/jpg', 'image/jpeg'],
            fileValidateTypeDetectType: (source, type) => new Promise((resolve, reject) => {
                resolve(type);
            }),
            labelIdle: 'Arrastra y suelta tu imagen o <span class="filepond--label-action">Explorar</span>',
        });

        const default_file = input_element.getAttribute('data-default-file');
        if (default_file) {
            pond.addFile(default_file);
        }

        flatpickr(".flatpickr-time", {
            enableTime: true,
            noCalendar: true,
            dateFormat: "H:i", 
            altInput: true,    
            altFormat: "h:i K", 
            time_24hr: false,
            locale: "es",
            allowInput: true
        });
    });
</script>
{% endblock %}
