{% load static %}
<!doctype html>

<html lang="es" class="layout-wide customizer-hide" data-assets-path="{% static 'backoffice/' %}"
   data-template="vertical-menu-template-free">

<head>
   <meta charset="utf-8" />
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
   <title>4 Pelos Club Barbers | Login</title>
   <meta name="description" content="" />
   <link rel="icon" type="image/x-icon" href="{% static 'storefront/img/favicon.ico' %}" />

   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

   <link rel="stylesheet" href="{% static 'backoffice/vendor/fonts/iconify-icons.css' %}" />
   <link rel="stylesheet" href="{% static 'backoffice/vendor/css/core.css' %}" />
   <link rel="stylesheet" href="{% static 'backoffice/css/demo.css' %}" />
   <link rel="stylesheet" href="{% static 'backoffice/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
   <link rel="stylesheet" href="{% static 'backoffice/vendor/css/pages/page-auth.css' %}" />
   <script src="{% static 'backoffice/vendor/js/helpers.js' %}"></script>
   <script src="{% static 'backoffice/js/config.js' %}"></script>
</head>

<body>
   <!-- Content -->

   <div class="container-xxl">
      <div class="authentication-wrapper authentication-basic container-p-y">
         <div class="authentication-inner">
            <!-- Register -->
            <div class="card px-sm-6 px-0">
               <div class="card-body">
                  <!-- Logo -->
                  <div class="app-brand justify-content-center">
                     <span class="app-brand-logo demo d-flex">
                        <img src="{% static 'backoffice/img/logo.png' %}" class="w-50 mx-auto" alt="Logo">
                     </span>
                  </div>

                  {% if form.errors %}
                  <div class="alert alert-danger" role="alert">Nombre de usuario o contraseña incorrectos</div>
                  {% endif %}
                  <!-- /Logo -->

                  <form id="login-form" class="mb-6" method="post">
                     {% csrf_token %}
                     <div class="mb-6">
                        <label for="username" class="form-label">Nombre de Usuario</label>
                        <input type="text" class="form-control" id="username" name="username"
                           placeholder="Nombre de Usuario" autofocus value="{{ request.POST.username|default:'' }}">
                     </div>
                     <div class="mb-6 form-password-toggle">
                        <label class="form-label" for="password">Contraseña</label>
                        <div class="input-group input-group-merge">
                           <input type="password" id="password" class="form-control" name="password"
                              placeholder="Contraseña" aria-describedby="password" />

                           <span class="input-group-text cursor-pointer">
                              <i class="icon-base bx bx-hide"></i>
                           </span>
                        </div>
                     </div>
                     <div class="mb-8">
                        <div class="d-flex justify-content-between">
                           <div class="form-check mb-0">
                              <input class="form-check-input" type="checkbox" id="remember-me" />
                              <label class="form-check-label" for="remember-me"> Recordarme </label>
                           </div>

                        </div>
                     </div>
                     <div class="mb-6">
                        <button class="btn btn-primary d-grid w-100" type="submit">
                           <span class="d-flex align-items-center justify-content-center">
                              <i class="icon-base bx bx-log-in"></i>
                              <span class="ms-2">Iniciar Sesión</span>
                           </span>
                        </button>
                     </div>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </div>


   <script src="{% static 'backoffice/vendor/libs/popper/popper.js' %}"></script>
   <script src="{% static 'backoffice/vendor/js/bootstrap.js' %}"></script>
   <script src="{% static 'backoffice/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
   <script src="{% static 'backoffice/vendor/js/menu.js' %}"></script>
   <script src="{% static 'backoffice/js/main.js' %}"></script>

   <!-- <script src="https://buttons.github.io/buttons.js"></script> -->

</body>

</html>