{% load static %}
<!DOCTYPE html>


<html lang="es" class="layout-menu-fixed layout-compact" data-assets-path="{% static 'backoffice/' %}"
   data-template="vertical-menu-template-free">

<head>
   <meta charset="utf-8" />
   <meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />

   <title>{{ page_title }} | 4 Pelos Club Barbers</title>
   <link rel="icon" type="image/x-icon" href="{% static 'storefront/img/favicon.ico' %}" />
   <link rel="preconnect" href="https://fonts.googleapis.com" />
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
   <link
      href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />

   <link rel="stylesheet" href="{% static 'backoffice/vendor/fonts/iconify-icons.css' %}" />

   <link rel="stylesheet" href="{% static 'backoffice/vendor/css/core.css' %}" />
   <link rel="stylesheet" href="{% static 'backoffice/css/demo.css' %}" />
   <link rel="stylesheet" href="{% static 'backoffice/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
   <script src="{% static 'backoffice/vendor/js/helpers.js' %}"></script>
   <script src="{% static 'backoffice/js/config.js' %}"></script>

   {% block extra_css %}
   {% endblock %}
</head>

<body>
   <!-- Layout wrapper -->
   <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
         {% include 'base/backoffice/sidebar.html' %}

         <div class="layout-page">
            {% include 'base/backoffice/navbar.html' %}

            <div class="content-wrapper">
               <div class="container-xxl flex-grow-1 container-p-y">
                  {% block content %}
                  {% endblock %}
               </div>

               {% include 'base/backoffice/footer.html' %}

               <div class="content-backdrop fade"></div>
            </div>
         </div>
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
   </div>
   <script src="{% static 'backoffice/vendor/libs/jquery/jquery.js' %}"></script>
   <script src="{% static 'backoffice/vendor/libs/popper/popper.js' %}"></script>
   <script src="{% static 'backoffice/vendor/js/bootstrap.js' %}"></script>
   <script src="{% static 'backoffice/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
   <script src="{% static 'backoffice/vendor/js/menu.js' %}"></script>
   <script src="{% static 'backoffice/js/main.js' %}"></script>
   <!-- <script async defer src="https://buttons.github.io/buttons.js"></script> -->

   {% block extra_js %}
   {% endblock %}
</body>


</html>